{% extends 'base.html' %}

{% block content %}
<h1>View Data</h1>

{% if data %}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data found.</p>
{% endif %}
{% endblock %}
